<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>lenmus-cover</title>
</head>

<body bgcolor='#808080'>
<center>
<table width='720' bgcolor='#ffffff' cellpadding='0' cellspacing='0'>
<tr><td bgcolor='#ffffff'>

<!-- banner -->
<table width='100%' cellpadding='0' cellspacing='0'>
<tr><td bgcolor='#7f8adc' width='23%' valign='top'><img src='navbg7.jpg'></td>
    <td bgcolor='#ffffff' width='6%'>&nbsp;</td>
<td valign='top' bgcolor='#ffffff'>

<!-- content -->
<table width='100%' cellpadding='0' cellspacing='0' border='0'>
<tr><td colspan='2' valign='top' align='right'><img src='emusicbook_title.png'></td></tr>
<tr><td>
    <br /><br /><br /><br />
    <br /><br /><br /><br />
</td><td width='30'>&nbsp;</td></tr>
<tr><td><h1>Music reading. Level 1.</h1></td><td>&nbsp;</td></tr>
<tr><td><h3></h3></td><td>&nbsp;</td></tr>
<tr><td>
This eMusicBook is a self-instruction music reading course, intended to help improve one's reading skills, providing the sort of practice and exercise that are required to become a good sight-reader.</td><td>&nbsp;</td></tr>

<tr><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>
    <font size='-1' face='Arial'>
    <p><b>Copyright © 2007-2009 LenMus project</b></p>

<p>Permission is granted to copy, distribute and/or modify this document under the terms of the Creative Commons Attribution-Share-Alike License 3.0 or later, with the exceptions of those pages where another author or group of authors has been clearly marked. The text of the licence is available at <a href="http://creativecommons.org/licenses/by-sa/3.0/"> http://creativecommons.org/licenses/by-sa/3.0/</a></p>
<p><img src="cc-by-sa.png" >
</p>
    </font>
</td><td>&nbsp;</td></tr>
</table>
</td></tr>
</table>
</td></tr></table>
</body>
</html>
