<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>lenmus-lesson</title>
</head>

<body bgcolor='#808080'>

<center>
<table width='720' bgcolor='#ffffff' cellpadding='0' cellspacing='0'>
<tr><td bgcolor='#ffffff'>

<table width='100%' cellpadding='0' cellspacing='0'>
<tr><td bgcolor='#7f8adc' align='left'>
    <font size='-1' color='#ffffff'>&nbsp;&nbsp;Music reading. Level 1.</font></td></tr>
<tr><td bgcolor='#7f8adc' align='right'><br />
    <b><font size='+4' color='#ffffff'>3. The clef&nbsp;</font></b><br /></td></tr>
<tr><td bgcolor='#ff8800'><img src='ebook_line_orange.png'></td></tr>
</table>

<br />
<table width='100%' cellpadding='0' cellspacing='0'>
<tr><td bgcolor='#ffffff' width='30'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td>
<h1>3. The clef</h1>
<p>Sounds are represented by notes. There are seven notes named either using the first seven letters of the alphabet A, B, C, D, E, F (Anglo-Saxon system) or using the names Do, Re, Mi, Fa, Sol, La and Si (Ti) (Latin system). To determine which pitch (sound) is represented by each line and space in the staff a symbol, named 'the clef', is placed at the beginning of each staff. In this course we are going to start with the study of the G clef, also named 'treble clef', that is represented by the following symbol:</p>
<p><object type="Application/LenMus" classid="Score" width="685" height="100" border="0">
<param name="score_type" value="full">
<param name="music_border" value="0">
<param name="music" value=" (score (vers 1.5)(language en iso-8859-1) (instrument (musicData (clef G)(key C) (time 2 4 noVisible) (barline end noVisible) )))">
</object>
</p>
<p>The clef assigns a particular line to a specific pitch, and all other pitches are mapped in ascending and descending order to the lines and spaces above and below that reference line. In the G clef, the G note of the fourth octave is assigned to the second line:</p>
<p><object type="Application/LenMus" classid="Score" width="685" height="100" border="0">
<param name="score_type" value="full">
<param name="music_border" value="0">
<param name="music" value=" (score (vers 1.5)(language en iso-8859-1) (instrument (musicData (clef G)(key C) (time 2 4 noVisible) (spacer 60) (text ''G'' dx:0 dy:-10) (n g4 w) (barline end noVisible) )))">
</object>
</p>
<p>As a result, the staff lines and spaces get automatically assigned to consecutive notes, as shown in the next score:</p>
<p><object type="Application/LenMus" classid="Score" width="685" height="100" border="0">
<param name="score_type" value="full">
<param name="music_border" value="0">
<param name="control_play" value="">
<param name="metronome" value="320">
<param name="music" value=" (score (vers 1.5)(language en iso-8859-1) (opt Render.SpacingMethod 1) (opt Render.SpacingValue 50) (instrument (musicData (clef G)(key C) (time 2 4 noVisible) (text ''E'' dx:0 dy:-10) (n e4 w)(barline simple noVisible) (text ''F'' dx:0 dy:-10) (n f4 w)(barline simple noVisible) (text ''G'' dx:0 dy:-10) (n g4 w)(barline simple noVisible) (text ''A'' dx:0 dy:-10) (n a4 w)(barline simple noVisible) (text ''B'' dx:0 dy:-10) (n b4 w)(barline simple noVisible) (text ''C'' dx:0 dy:-10) (n c5 w)(barline simple noVisible) (text ''D'' dx:0 dy:-10) (n d5 w)(barline simple noVisible) (text ''E'' dx:0 dy:-10) (n e5 w)(barline simple noVisible) (text ''F'' dx:0 dy:-10) (n f5 w)(barline simple noVisible) )))">
</object>
</p>
</td><td bgcolor='#ffffff' width='20'></td></tr></table>

<br /><br /><br /><br />
<br /><br /><br /><br />
<br /><br /><br /><br />
<br /><br /><br /><br />
<br /><br /><br /><br />
<table width='100%' cellpadding='0' cellspacing='0'>
<tr><td bgcolor='#ff8800'><img src='ebook_line_orange.png'></td></tr>
<tr><td bgcolor='#7f8adc' align='center'>
    <font size='-1' color='#ffffff'><br /><br />
Send your comments and suggestions to the LenMus team (www.lenmus.org)<br />
Licensed under the terms of the GNU Free Documentation License v1.3<br />
    </font>
</td></tr>
</table>

</td></tr></table></center>

</body>
</html>
